[Unit]
Description=Apply t2linux kernel and packages on first boot
Wants=network-online.target
After=network-online.target
Before=systemd-user-sessions.service
ConditionPathExists=!/var/lib/t2-enablement.stamp
SuccessAction=reboot

[Service]
Type=oneshot
ExecStart=/usr/local/bin/t2-enablement

[Install]
RequiredBy=systemd-user-sessions.service
